.wrapper {
    display: flex;
}

.intro {
    border: 3px solid plum;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    grid-template-areas:
    "logo title" 
    "logo demo"
    "preamble preamble"
    ;
}

.intro h1 {
    padding: 0;
    margin: 0;
}
.intro h2 {
    padding: 0;
    margin: 0;
}

.intro::before {
    content: url(images/zenGardenLogo_3_150.jpg);
    grid-area: logo;  
}

header {
    grid-area: title;
    border: 2px solid fuchsia;
    display: flex;
    flex-direction: column;
}
.summary {
    grid-area: demo;
    border: 3px solid blue;
    padding: 0;
    margin: -1rem 0 0;
}

.preamble {
    grid-area: preamble;
    border: 3px solid brown;
}

.main {
    border: 5px solid yellow;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    //gap: 20px;
    grid-template-areas: 
    ". explain explain explain explain "
    "part part part part part"
    ". benefits benefits benefits benefits"
    "require require require require require"
    ". . footer footer ."
    ". contentinfo contentinfo . .";
}

.explanation {
    position: relative;
    z-index: -1;
    color: white;
    margin-top: -7rem;
    grid-area: explain;
    border: 2px solid black;
    justify-self: center;
   /* background-color: rgba(129, 129, 129, 0.3); */
   background-color: black;
}

.participation {
    position: absolute;
    width: 97%;
    margin-top: 0;
    grid-area: part;
    border: 2px solid black;
}

.benefits {
    position: relative;
    margin-top: 3rem;
    grid-area: benefits;
    border: 2px solid black;
   /* background-color: rgba(129, 129, 129, 0.3); */
   color: white;
   background-color: black;
}
.requirements {
    position: relative;
    
    margin-top: -4.5rem;
    grid-area: require;
    border: 2px solid black;
}
.requirements [role=contentinfo] {
    grid-area: contentinfo;
    text-align: center;
    border: 3px solid red;
}

footer {
    grid-area: footer;
}

.page-wrapper {
    display: block;
}